wsdl/Fare_GetFareFamilyDescriptionReply_13_2_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TFQFRR_13_2_1A" xmlns="http://xml.amadeus.com/TFQFRR_13_2_1A" elementFormDefault="qualified">
  <xs:element name="Fare_GetFareFamilyDescriptionReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">Returns up to 16 Fare Family descriptions</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="errorGroup" minOccurs="0" maxOccurs="16" type="ErrorGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">For errors at message level</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="fareFamilyDescriptionGroup" minOccurs="0" maxOccurs="16">
          <xs:annotation>
            <xs:documentation xml:lang="en">Description of a given Fare Family</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="referenceInformation" type="ItemNumberType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Trigger Contains the number of the fare family for which description is returned</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="fareInformation" minOccurs="0" type="FareQualifierDetailsType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Contains the name of the fare family for which description is returned.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="itineraryInformation" minOccurs="0" type="OriginAndDestinationDetailsType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">origin and destination for which Fare Family description has been requested</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="carrierInformation" minOccurs="0" type="TransportIdentifierType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Contains the name of the Carrier owner of the fare family for which description is returned.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="freeFlowDescription" minOccurs="0" type="FreeTextInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Free-Flow description of the fare family</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ocFeeInformation" minOccurs="0" maxOccurs="99">
                <xs:annotation>
                  <xs:documentation xml:lang="en">structured description of the fare family</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="feeDescription" type="SpecificDataInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">fee type / description</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="serviceDetails" minOccurs="0" type="SpecialRequirementsDetailsType" />
                    <xs:element name="feeFreeFlowDescription" minOccurs="0" type="FreeTextInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">The description of the fee</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="ocFeeAmount" minOccurs="0" type="MonetaryInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Fee amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="errorInformationFareFamily" minOccurs="0" maxOccurs="16" type="ErrorGroupType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Error/warning for this fare family</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ApplicationErrorDetailType">
    <xs:sequence>
      <xs:element name="errorCode" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the data validation error condition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCategory" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCodeOwner" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the agency responsible for a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of application error within a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorDetails" type="ApplicationErrorDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application error details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="otherCompany" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify specific data and a quantity related to the data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indicator" minOccurs="0" type="AMA_EDICodesetType_Length1to3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Service Application (Included, At Charge etc...)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataTypeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of data to be sent and to qualify the data when required.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AMA_EDICodesetType_Length1to3">
        <xs:annotation>
          <xs:documentation xml:lang="en">OC subcode</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="statusEvent" minOccurs="0" type="AMA_EDICodesetType_Length1to3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountPenaltyInformationType">
    <xs:sequence>
      <xs:element name="fareQualifier" minOccurs="0" type="AMA_EDICodesetType_Length1to3" />
      <xs:element name="rateCategory" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to enter the Fare Family name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorGroupType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Conveys a potential error.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorOrWarningCodeDetails" type="ApplicationErrorInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The details of error/warning code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorWarningDescription" minOccurs="0" type="FreeTextInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The desciption of warning or error.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FareQualifierDetailsType">
    <xs:sequence>
      <xs:element name="discountDetails" type="DiscountPenaltyInformationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="source" type="AlphaNumericString_Length1To3" />
      <xs:element name="encoding" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to convey the free text and associated language, encoding.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType" />
      <xs:element name="freeText" maxOccurs="99" type="AlphaNumericString_Length1To320">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Goods identification for a specified source</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify an item number</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="itemNumberDetails" maxOccurs="99" type="ItemNumberIdentificationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of monetary amount, the amount, and the currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="amount" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Currency</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="location" minOccurs="0" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">location</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amounts, rates and percentages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="monetaryDetails" type="MonetaryInformationDetailsType" />
      <xs:element name="otherMonetaryDetails" minOccurs="0" maxOccurs="19" type="MonetaryInformationDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginAndDestinationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey the origin and destination of a journey.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="origin" type="AlphaNumericString_Length1To35" />
      <xs:element name="destination" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecialRequirementsDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify special requests or service s information relating to a traveller</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="specialRequirementsInfo" minOccurs="0" type="SpecialRequirementsTypeDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the Service Requirement of the customer.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecialRequirementsTypeDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">SPECIAL REQUIREMENTS TYPE DETAILS</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ssrCode" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the "service Type" of the fee</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="airlineCode" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Carrier owner of this service</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the service group</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherServiceType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the service sub group</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecificDataInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify miscellaneous data by first identifying the type of data to be sent and then the actual data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dataTypeInformation" type="DataTypeInformationType" />
      <xs:element name="dataInformation" minOccurs="0" maxOccurs="99" type="DataInformationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportIdentifierType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the transport service(s) which is /are to be updated or cancelled</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyIdentification" minOccurs="0" type="CompanyIdentificationTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To320">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..320</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="320" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1to3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is three alphanumeric characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB3810BDF35710BDF45058969D025B18E0418D64EF02EB24555CF462C060C8B14D9422B51C2A8836C87FEF5092DBF4B2DB5E6CCE87E6E3BD379BEAA6AA8B5D551E6E6FC4325F5CCDF20FB3FC0FFE05B403D4B2E7F987D5F26AF57EC137DBDDBB3C5FE5392BB645EC5BC0B5B1E06403821C878F128DDA2577F6849A3D48841B8A612B1588738CED6A3E7F6A6C261BA9A1C34CF966CE1E3AA72D94268839428CC69D70AE8D42A6CEA0BEDED36F23450C1D30E535500A0AE75DB29A061C5953AC69A5EB533BE13A6BC9D1F6C19CCE51BC29C676FC2EF836188832F45C3ACDAFBD3B1A4D358CB4FC2F77F4A191D178B7E29D935D3CFB60FE05CD3B84215D1B54D6631780630C4645DB73FAE6C168AA9171422EE7337E698699CC30D9D6F23ACD81BCA6E9C323E8EC0DD370949D8D9BD026B8B4384A8BC0B4EF1E2CDCC33F1D38057732AAF31401F7F197C004F723E73911F472787E8480B415BD0258A032F49227EAD0BFB023D157779630F389C9C11EE81C3E4EAFFF2960BD927682DCFA93261ACBD5FECFAA28F7953647A9E2CE7B8BFB6A77280D46E9E2353145FC1173FBAD0C5F21313EE6E0C035EEFFF627AAE54EC32046DF3ADBB306C209263086F7DA80D578EF43FC0E1F2D8E34578109D39F7D25B16EECA41CF75B10B5DEB8780371A463105BF03EBE4268B093803336AE9010C5744AF93C5F4C3E5CFB505843B527C5262D1805589292A837897244111B1962AAFBD91965623F2D12837468077D123E82B0C6F95479576CE7CF1AACA1352409E825A3284BE3E9D7E74362B9BEDCCC58933C0354C3251BA7D813DA78DBC5B68B6B6F3504911C8CCD66DB11C6B7C8CD8F3B99CDD808925814EC557F51DC1587B50C70585CBD275137D2387157570C9E5AE2EB20F150561BB1AB3F57177E38654BB15CE61787D8AD3FADEB9AB5741106CFC4F188FC488F58D2EBD124CEC46284460E288AA1ED0662FA5FCBC6D8BE0454C1B429CA2E94FD775A0D2D296ED284585CB16FB5D8900022050000
-->

