wsdl/admin/MiniRule_GetFromETicket_13_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TMRERQ_13_1_1A" xmlns="http://xml.amadeus.com/TMRERQ_13_1_1A" elementFormDefault="qualified">
  <xs:element name="MiniRule_GetFromETicket">
    <xs:annotation>
      <xs:documentation xml:lang="en">Retreive Mini Rules associated to a Quotation</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ticketNumber" type="TicketNumberTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">ticket number</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TicketNumberDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a ticket number, type of ticket, and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information related to a specific ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentDetails" type="TicketNumberDetailsTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B08000000000000009593C16EDB381086EF7C0AA2971E0ACB92DD4B0DF0A0C6B2BBC03AC93A2AF662C060C8B14D9422550E15441BE4DD7728C96DF650ECEE452087D4CCF0FBFFD956B7D5BEACABF5F1EE562CF26239CB17B362C9FF04ED00B5EC79F171F5315F2D3FF1EDAEFE90E7AB3C67E5AE8C7D0BB831169C6C4050E0F859A251750A67CFA8D9A344B8A5336CA5027189B15DCDE7CF8DCD642335749829DFCCD963E7B485B509628E10A371679C6BA390A90BA86F0FF46DA488A103A6BC06BA82C27997764D038E76D359D34AD7A772C275D652A0ED83395FA278578EE5F87DF06D301065E8B9749ADF7877329A721869F96FEEE44323A3F16EC53B27BB78F1C1FC059A7708C3756D50598F5D008E3118156DCFE99F47A32947C6895CCE67FC5A0C339961DA5BCBF7A90FE47BEA3E3C81CEDE310D27D9D9B80D6DC2A5C5495A04A67DF768E101BE77E014DCCBA82ED309B8CFFF0926B89F775E9240AFC797270848AFA255000B948656F24C15FA577622F9F69D25663E2939EC0739879FD3EA5F1258AFA49D905B7FD624E37A75F85295EB43A5CD49AA587B6FF150D5C7B5C1285DBC21A5483F52EEB093E11B24C5C73B38688D87DFFD9972B9F3D088D177CEF6AC81708609C6B0DE18B01A1F7C883FF0D1C391FA2A3131FD676C4DAA1B3B39C7FD2F44AD372EDE421CE518CC16BC8F6F080DFB64E08C8D4F4844318D523ECF8B29861B1F4A6B28F7E4D8E405A300D7E424AA4DA61C296223434C79BF3AA34CECA787C4201DDAC19FC447106B9C4F99EB72377FD1600D3D4392815E333A65A93DFD767CC82C37D7991973526440354CB2718A3DA38D775D6CBBB8F156431029C0D86CB61B31BE476E7ECEC96CC64648A228D99BFAA2BC2F8F3BE34CE2702C960519BB91C689FB7DC5E0B925CD8E128FEB6A2BEAFDD7EAAA119701A4582CF26B40D4BB7DB5FF83B53415062FA4F3487F944814B47A324937B118F1C881A4F8517A0B71137C53D54691CFD855B05F5E986C208A25FB1BA709253B15050000
-->

